trigger: none


schedules:
- cron: "0 0 * * *"
  displayName: Daily build
  branches:
    include:
    - master
  always: true

stages:
- stage: Pico
  displayName: RaspberryPi_Pico
  dependsOn: []
  jobs:
    - template: templates/build.yml
      parameters:
        pool:
          vmImage: 'ubuntu-24.04'
        machine: 'pico'
